
<form (submit)="uploadPicture()">
  <!-- TO DO: [Étape 2] Ajouter les paramètres nécessaires à cet input pour vous permettre de sélectionner un fichier d'image -->
  <input #fileUploadViewChild type="file" name="image" accept="images/">
  <button (click)="uploadPicture()">Envoyer</button>
</form>
<div *ngFor="let picture of pictures">
  <!-- TO DO: [Étape 4] Ajouter un <img> qui contient une référence vers la petite image stockée sur le serveur -->
  <p>Id : {{picture.id}} <br>
      Nom : {{picture.fileName}}</p>
  <img alt="fileName" [src]="'https://localhost:7243/api/Pictures/GetFile/'+ picture.mimeType + '/'+ picture.id">
  <button class="delete" (click)="deletePicture(picture)">Effacer</button>
</div>
